.controls {
  padding: 20px 0;
  background-color: #004ba0;
}
.controls input {
  margin-right: 10px;
  border: none;
  padding: 10px 10px;
  width: 240px;
  border-radius: 3px;
}

.controls button {
  margin-right: 10px;
  background-color: #1976d2;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 120px;
  border-radius: 3px;
  :last-child {
    margin: 0;
  }
}
